@import "tailwindcss";
@tailwind utilities;

:root {
  /* Header */
  --c-header-color: #000000;
  --c-header-text-color: #a5dfee;

  /* Body */
  --c-bg-color: #000000;
  --c-bg-sub-color: #0d2a3f;
  --c-bg-sub2-color: #0400f8;
  --c-font-title-color: #a5dfee;
  --c-font-p-color: #30ffc1;
  --c-font-strong-color: #9900ff;
}

/* Domine - Serif pour le texte */
@font-face {
  font-family: "Domine";
  src: url("/Fonts/Domine/Domine-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

/* Roboto - Sans serif pour les titres */
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/Roboto/Roboto-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Domine", serif; /* Police par défaut pour tout le site */
  background-color: var(--c-bg-color);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--c-font-title-color);
}

p,
li {
  color: var(--c-font-p-color);
}
