@import "tailwindcss";
@tailwind utilities;

:root {
  /* Header */
  --c-header-color: #d6d1d9;
  --c-header-text-color: #4f4c50;

  /* Body */
  --c-bg-color: #f1f1f1;
  --c-bg-sub-color: #c6d1d9;
  --c-bg-sub2-color: #ffffff;
  --c-font-title-color: #4f4c50;
  --c-font-p-color: #000000;
  --c-font-strong-color: #605d62;
}

/* Domine - Serif pour le texte */
@font-face {
  font-family: "Domine";
  src: url("/Fonts/Domine/Domine-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

/* Roboto - Sans serif pour les titres */
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/Roboto/Roboto-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Domine", serif; /* Police par défaut pour tout le site */
  background-color: var(--c-bg-color);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--c-font-title-color);
}

p,
li {
  color: var(--c-font-p-color);
}
