@import "tailwindcss";

:root {
  --c-header-color: #7c9c9c;
  --c-bg-color: #a7cdcc;
  --c-bg-sub-color: #c5dbda;
  --c-bg-sub2-color: #4b8685;
  --c-font-title-color: #000000;
  --c-font-p-color: #000000;
  --c-font-strong-color: #000000;
}

/* Domine - Serif pour le texte */
@font-face {
  font-family: "Domine";
  src: url("/Fonts/Domine/Domine-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

/* Nunito - Sans serif pour les titres */
@font-face {
  font-family: "Nunito";
  src: url("/Fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Domine", serif; /* Police par défaut pour tout le site */
  background-color: var(--c-bg-color);
  height: 100%;
}

/* Titres avec Nunito */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: var(--c-font-title-color);
}

p,
li {
  color: var(--c-font-p-color);
}
a {
  color: var(--c-font-title-color);
}
